@media (max-width:541px) {
    iframe {
        height: 1130px;
    }    
}
@media (max-width:520px) {
    iframe {
        height: 1260px;
    }    
}
@media (max-width: 431px) {
    iframe {
        height: 1130px;
    }
}
@media (max-width: 415px) {
    iframe {
        height: 1130px;
    }
}
@media (max-width: 413px) {
    iframe {
        height: 1140px;
    }
}
@media (max-width: 391px) {
    iframe {
        height: 1200px;
    }
}
@media (max-width: 376px) {
    iframe {
        height: 1220px;
    }
}
@media (max-width: 361px) {
    iframe {
        height: 1230px;
    }
}
@media (max-width: 345px) {
    iframe {
        height: 1260px;
    }
}
.about .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.col-3.portfolio-item.filter-app {
    padding: 2px;
}
.row.portfolio-container.aos-init.aos-animate {
    padding: 0 10px;
}
body p {
    text-align: justify;
}